<h1>Update Sales Figures</h1>

<div>
    <%= form_tag import_sales_path, multipart: true do %>
      <span class="btn btn-default">
        <%= file_field_tag :file %>
      </span>
      <%= submit_tag "Upload", class:"btn btn-primary" %>
    <% end %> 
</div>

<h1>Current Sales Figures</h1>

<div class="alert alert-info">
  <strong>
    Total Sales Revenue: <%= if @revenue >= 0 then number_to_currency @revenue else 'Unavailable' end   %>
  </strong>
</div>

<table class="table table-striped table-hover">
  <thead>
    <th>Customer Name</th>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Merchant Name</th>
    <th>Merchant Address</th>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer_name %></td>
        <td><%= sale.item_description %></td>
        <td><%= number_to_currency sale.item_price %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.merchant_name %></td>
        <td><%= sale.merchant_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

